{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% trans "Signup" %} </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/utilsignup.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mainsignup.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'images/honey3.jpg' %}');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method='POST'>
                    {% csrf_token %}

					<span class="login100-form-title p-b-34 p-t-27">
						{% trans "Signup" %}
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						{{form.username|add_class:'input100'}}
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        {{form.password1|add_class:'input100'}}
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        {{form.password2|add_class:'input100'}}
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

                    <div class="wrap-input100">
                        {{form.email|add_class:'input100'}}
                        <span class="focus-input100"></span>
                    </div>

					<div class="container-login100-form-btn">
						<button type='submit' class="login100-form-btn">
							{% trans "Signup" %}
						</button>
					</div>

                    <div class='text-center mt-2'>
                        <span class="text-white p-1 ">
                            <strong>
                                <a class=" rounded text-white" href="{% url 'account_login' %}">{% trans "i have an account" %}</a>
                                <i class=" fa-solid fa-arrow-right"></i>
                            </strong>
                        </span>
                    </div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/mainsignup.js' %}"></script>
    <script src="https://kit.fontawesome.com/ff17068585.js" crossorigin="anonymous"></script>

</body>
</html>