<!--  ************************* Page Title Starts Here ************************** -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "about us" %}{% endblock title %}
{% block meta description %}{{informations.description}}{% endblock meta description %}

{% block content %}
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2 class="text-start">{% trans "About Our Company" %}</h2>
        </div>
    </div>
</div>

<!-- ******************** About US Starts Here ******************* -->

<div class="about-us big-padding">
    <div class="container-lg">
        <div class="about-row row">
            <div class="col-md-7">
                <div class="abut-detail fs-6">
                    <p class="mb-3">
                        {{informations.description|linebreaks}}
                    </p>
                    <div class="text-center">
                        {% if about.telegram %}
                        <span class='mx-2 text-center'><a title='our telegram account' href="https://te.me/{{about.telegram}}"><i class="navbar-item fa-brands fa-telegram fa-2x"></i></a></span>
                        {% endif %}
                        {% if about.instagram %}
                            <span><a title='our instagram account' href="https://instagram.com.{{about.instagram}}"><i class="navbar-item fa-brands fa-instagram fa-2x"></i></a></span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-5 mt-4">
                <img src="{{informations.image.url}}" alt="informations image" />
            </div>
            
        </div>
  </div>
</div>

<div id="testimonial" class="service bg-honey container-fluid px-4 py-5">
    <div class="container">
        <div class="section-title row mb-3">
            <h2 class="fw-bolder">{% trans "Our Honey Types" %}</h2>
        </div>
        <div class="row mt-5">
            {% for category in categories %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="serv-cove shadow-md rounded bg-white p-3">
                    <div class="prf row mb-3">
                        <div class="col-12">
                            <img
                            class="rounded"
                            src="{{category.image.url}}"
                            alt="{{category.title}} image"
                            />
                        </div>
                        <div class="col-12 mt-2 align-self-center text-center">
                            <h4 class="mb-0 fw-bolder">{{category.title}}</h4>
                        </div>
                    </div>
                    <div class="det text-center">
                        <p class="fs-7 fst-italic">
                            {{category.short_description}}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}