{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}{% trans "contact us" %}{% endblock title %}
{% block meta description %}{% trans "send us any idea and review thats important to us" %}{% endblock meta description %}

{% block content %}         
<!--  ************************* Page Title Starts Here ************************** -->
 <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2 class="text-start">{% trans "Contact Us" %}</h2>
            </div>
        </div>
    </div>
       

  <div class="row contact-rooo big-padding no-margin">
    <div class="container">
       <div class="row">
           
      
        <div style="padding:20px" class="col-sm-7">
        <h2 class="fs-4 fw-bold" >{% trans "Contact Form" %}</h2> <br>
        <form action="" method='POST'>
            {% csrf_token %}
            <div class="row cont-row">
                <span class='mb-2'>{% trans "your text" %}:</span>
                {% comment %} {{form.text|add_class:'form-control'|attr:'placeholder'}} {% endcomment %}
                {% render_field form.text class="form-control" placeholder='write your text ...' %}
            </div>
            <div style="margin-top:10px;" class="row">
                <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                <div class="col-sm-8">
                 <button type='submit' class="btn btn-primary fs-5 btn-sm">{% trans "Send Message" %}</button>
                </div>
            </div>
        </form>
        </div>
         <div class="col-sm-5">    
              <div style="margin:50px" class="serv"> 
                <h2 class="fs-4 fw-bold" style="margin-top:10px;">{% trans "Address" %}</h2>
                <p class="fs-5">
                        {{about.address}}<br>
                        {% trans "Phone" %}:{{about.phone}}<br>
                        {% trans "Email" %}:{{about.email}}<br>
                </p>
           </div>    
         </div>
      </div>
    </div>
  </div>

        
{% endblock content %}