{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load comment_tags %}

{% block title %}{{product.title}}{% endblock title %}
{% block meta_description %}{{product.description}}{% endblock meta_description %}

{% block content %}
<!--  ************************* Page Title Starts Here ************************** -->
 <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2 class="text-start">{{product.title}} </h2>
                <a title='product of this category' class='text-start' href="{% url 'product_category' product.id %}">{% trans "category" %} :<span class='text-danger '> {{product.category.first.title}}</span>
                </a>
            </div>
        </div>
    </div>
    
    
<!--####################### Product Detail Starts Here ###################-->
<div class="container-fluid big-padding bg-white about-cover">
    <div class="container">
        <div class="row about-row">
            <div class="col-md-5 p-5 text-center">
                <img class='mb-3' style='border-radius:10px;' src="{{product.image.url}}" alt="{{product.title}} photo">
                {% if request.user.is_superuser %}
                <span class='me-2'><a title='edit this profile' class='btn btn-info text-white rounded-pill px-3' href="{% url 'product_update' product.id %}">{% trans "Edit" %}</a></span>
                <span><a title='delete this profile' class='btn btn-danger rounded-pill px-3' href="{% url 'product_delete' product.id %}">{% trans "delete" %}</a></span>
                {% endif %}
            </div>
            <div class="col-md-7">
                {% if product.is_exist %}
                    <h2>{{product.title}}</h2>
                {% else %}
                    <h2>{% trans "out of exist !" %}</h2>
                {% endif %}
                {% if product.is_discount %}
                    <strong class="fs-3 py-4 text-danger"> {% trans "$" %}  {{product.price_with_discount}} </strong>
                    <span class="fs-5 pe-3 text-decoration-line-through">{% trans "$" %}  {{product.price}}</span>
                {% else %}
                    <span class="fs-5 pe-3">{% trans "$" %}  {{product.price}}</span>
                {% endif %}
                <ul class="mt-0 mt-2 mb-3 vgth">
                    <li class="float-end gvi">
                        {% if liked %}
                        <a title='unlike' onclick= "like('{{product.id}}')"><i id='like' class="fa-solid fa-heart fa-lg text-danger "></i></a>
                        {% else %}
                        <a title='like' onclick= "like('{{product.id}}')"><i id='like' class="fa-regular fa-heart fa-lg"></i></a>
                        {% endif %}
                    </li><br>
                    <li class="float-end gvi mt-2">
                        {% if saved %}
                        <a title='remove from save' onclick= "bookmark('{{product.id}}')"><i id='bookmark' class="fa-solid fa-bookmark fa-lg me-1 "></i></a>
                        {% else %}
                        <a title='save' onclick= "bookmark('{{product.id}}')"><i id='bookmark' class="fa-regular fa-bookmark fa-lg me-1 "></i></a>
                        {% endif %}
                    </li>
                </ul>
                {% if product.properties %}
                <h4>( {% trans "product properties" %} )</h4>
                <ul class="key-features mt-4">
                    <li>{{product.properties|linebreaks}}</li>
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="row product-detail">
           <h4>( {% trans "Product Detail" %} )</h4>
            <p>{{product.description|linebreaks}}</p>
        </div>
        <div class="row review mt-5">
            <div class="col-md-8">
                <h4>{% trans "Product comments" %} ({% get_comments_count product user %})</h4>
                {% render_comments product request %}
                {% comment %} {% for comment in product.comments.all %} {% endcomment %}
                <div class="row m-0 reviewrow p-3 px-0 border-bottom">
                    <div class="col-md-12 align-items-center col-9 rcolm"> 
                        {% comment %} <h3 class="fs-6 fw-semi mt-2">{{comment.user.username}} {% endcomment %}
                            
                            <small class="float-end fw-normal"> </small>
                        </h3>
                        
                        <div class="review-text">
                            {% comment %} Aliquam laoreet nulla ac metus mattis viverra. Fusce hendrerit, augue eget hendrerit pellentesque, lorem nulla condimentum massa, efficitur pellentesque tortor sapien sed lectus {% endcomment %}
                        </div>
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                </div>
                {% comment %} {% endfor %} {% endcomment %}

            </div>
            </div>
        </div>
    </div>
{% endblock content %}